[submodule "Portfolio"]
	path = Portfolio
	url = https://github.com/JujusCode/Portfolio.git

[submodule "activity 3/normalize.css"]
    path = activity 3/normalize.css
    url = https://github.com/necolas/normalize.css.git

[submodule "react-todo-list"]
	path = react-todo-list
	url = https://github.com/JujusCode/react-todo-list.git
